@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  .animate-gradient-xy {
    background-size: 200% 200%;
    animation: gradient-xy 3s ease infinite;
  }

  @keyframes gradient-xy {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
